@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-primary font-sans antialiased selection:bg-white selection:text-black;
  }
}

@layer utilities {
  .perspective-3000 {
    perspective: 3000px;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-x-90 {
    transform: rotateX(90deg);
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

@keyframes openLid {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.animate-open-lid {
  animation: openLid 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; /* Ease out cubic */
  transform-origin: bottom;
}